@import '../../node_modules/bulma/bulma.sass';
@import './core/mixins';

html {
  touch-action: manipulation;
}

* {
  -webkit-overflow-scrolling: touch;
  @media screen and (min-width: 1024px) {
    scroll-behavior: smooth;
  }
  scrollbar-color: black transparent;
  scrollbar-width: thin;
  ::-webkit-scrollbar {
    width: 2px;
    border-radius: 1px;
    min-width: 2px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    width: 2px;
    border-radius: 1px;
    min-width: 2px;
    background: black;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    background-clip: content-box;
  }
}

@-webkit-keyframes BGAnimate {
  0% {
    background-position: 0% 81%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 81%;
  }
}
@-moz-keyframes BGAnimate {
  0% {
    background-position: 0% 81%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 81%;
  }
}
@keyframes BGAnimate {
  0% {
    background-position: 0% 81%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 81%;
  }
}

.loading {
  background: linear-gradient(90deg, hsl(48, 100%, 67%), hsl(348, 100%, 61%), hsl(204, 86%, 53%));
  background-size: 600% 100%;
  -webkit-animation: BGAnimate 2s ease infinite;
  -moz-animation: BGAnimate 2s ease infinite;
  animation: BGAnimate 2s ease infinite;
}

body {
  min-height: 100vh;
  @include flex(stretch, stretch, column);
}

.footer {
  background-color: transparent;
}

.main {
  flex: 1 1;
}

.hero-body {
  padding: 12px 24px;
  @media screen and (min-width: 1024px) {
    padding: 32px 24px;
  }
  .media-content {
    overflow: visible;
  }
}

.title,
.subtitle {
  line-height: 1.3;
}

.subtitle {
  margin-bottom: 0;
}

.logo {
  $size: 45px;
  width: $size;
  height: $size;
  @media screen and (min-width: 768px) {
    $size: 70px;
    width: $size;
    height: $size;
  }
}

.card {
  @include flex(stretch, stretch, column);
  transition-property: box-shadow transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  cursor: pointer;
  height: 100%;
  @media screen and (min-width: 1024px) {
    &:hover {
      box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: 0.1);
      transform: translate3d(0, -2px, 1px);
    }
  }
  .content {
    margin-bottom: 0;
  }
}

.hero {
  position: sticky;
  top: 0;
  z-index: 2;
  .subtitle {
    line-height: 1.3;
  }
}

.card .media:not(:last-child) {
  margin-bottom: 12px;
}

.card-content {
  flex: 1 1;
  @include flex(space-between, stretch, column);
  @include media(max-width) {
    padding: 12px;
  }
}

.tag {
  margin-right: 4px;
  margin-bottom: 2px;
}

.current-movies {
  &__list {
    display: flex;
    flex-direction: row;
  }
}
